<section class="py-4 md:py-8">
  <div class="container mx-auto px-4 md:px-8">
    <h1 class="text-3xl">HOME</h1>

    <% if current_user %>
      <ul>
        <% @tasks.each do |task| %>
          <li><%= task.name %></li>
        <% end %>
      </ul>
    <% else %>
      <%= link_to 'View All Goals', goals_path %>
    <% end %>
    
  </div>
</section>