<section class="py-4 md:py-8">
  <div class="container mx-auto px-4 md:px-8">
    <div class="flex justify-between items-center mb-8">
      <h1 class="text-5xl font-bold"><%= @goal.title %></h1>
      <!--<p><%#= @goal.description %></p>-->
      <div>
        <%= link_to 'Edit', edit_goal_path, class: "btn btn-success" %>
        <%= link_to 'Delete', goal_path(@goal), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    </div>

    <div class="mb-8">
      <h2 class="text-3xl text-center mb-8">In Progress</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
        <div class="p-4 border rounded-lg">
          <h3 class="text-2xl text-center">Task Name</h3>
          <p>Task Details</p>
        </div>

        <div class="p-4 border rounded-lg">
          <h3 class="text-2xl text-center">Task Name</h3>
          <p>Task Details</p>
        </div>

        <div class="p-4 border rounded-lg">
          <h3 class="text-2xl text-center">Task Name</h3>
          <p>Task Details</p>
        </div>

        <div class="p-4 border rounded-lg">
          <h3 class="text-2xl text-center">Task Name</h3>
          <p>Task Details</p>
        </div>
      </div>
    </div>

    <div>
      <h2 class="text-3xl text-center mb-8">Completed</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
        
        <div class="p-4 border rounded-lg">
          <h3 class="text-2xl text-center">Task Name</h3>
          <p>Task Details</p>
        </div>

        <div class="p-4 border rounded-lg">
          <h3 class="text-2xl text-center">Task Name</h3>
          <p>Task Details</p>
        </div>
      </div>
    </div>

  </div>
</section>






