// Place all the styles related to the goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Index Page
.goal-link-box {
  transition: 0.2s ease-in-out;

  .card {
    background-color: #dbe2ef;

    transition: 0.2s ease-in-out;
  }

  :hover {
    .card {
      transform: translateY(-10px);
      background-color: #3f72af;
      // background-color: #112d4e;
      color: #f9f7f7;

      .card-text {
        .text-muted {
          color: #f9f7f7 !important;
        }
      }
    }
  }
}

// Show Page
.tasks-list {
  .card {
    transition: 0.4s ease-in-out;
  }

  .card.card-started {
    background-color: #dbe2ef;
    // transition: 0.4s ease-in-out;
  }

  .card-completed {
    background-color: #3f72af;
    color: #f9f7f7;
  }

  @media screen and (min-width: 768px) {
    height: calc(100vh - 212px);
    overflow: hidden;
    overflow-y: auto;
  }
}

.icon-wrapper {
  font-size: 24px;
}

.icon-blue {
  color: #3f72af;
}

.icon-red {
  color: #c82333;
}

.lead {
  // font-weight: bold;
  font-size: 24px;
  color: #112d4e;
}
